.avtivitiesContainer {
  width: 90%;
}
.avtivitiesContainer h3 {
  margin: 1em 0;
}
.itemList_Grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(221, 221, 221);
  padding: 2em 0;
}

.item_list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(204, 204, 204);
  padding: 2em 0;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.itemList_Grid span {
  font-weight: bold;
}

.item_list button {
  font-family: "Montserrat", Sans-serif;
  cursor: pointer;
  margin: 0;
  width: fit-content;
  padding: 0.7em 1.7em;
  border-radius: 1em;
  border: 0;
  background-color: #ef6639;
  font-size: 19px;
  font-weight: 700;
  fill: #ffffff;
  color: white;
}

.item_list button:hover {
  color: white;
  background-color: #ffc23b;
}
.spinner {
  border: 4px solid rgba(115, 96, 131, 0.89);
  border-left-color: tomato;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
