.Navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(194, 194, 194, 0.747);
}
ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: rgb(95, 91, 89);
}
li {
  font-size: 2em;
}
a:hover {
  cursor: pointer;
  color: #ef6639;
  border-bottom: 2px solid black;
}
